@charset "UTF-8";

main h1 {
    font-size: 3em;
}

main h2 {
    font-size: 2.3em;
}

.foto-familia {
    display: block;
    padding: 10px;
    margin: 0px auto;
}

h2 {
    font-size: 25em;
}

p {
    margin-bottom: 0px;
}

.add {
    margin-bottom: 20px;
}

main p {
    text-indent: 40px;
}