@charset "UTF-8";

:root {
    --cor0: #20F4D0;
    --cor1: #00F56B;
    --cor2: #15FB00;
    --cor3: #2A6041;
    --cor4: #FA2601;
    --cor5: #E01D1D;
}

* {
    margin: 0px;
    color: black;
}

.voltar {
    font-size: 2.4em;
    padding: 5px;
    margin: 0px 10px 10px 0px;
    text-align: left;
}

.extra {
    text-decoration: underline;
}

header {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor3));
    padding: 0px 20px 20px 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.77);
}

header h1, p {
    text-align: center;
    margin-bottom: 30px;
    padding-top: 15px;
    font-size: 2em;
}

header p {
    text-align: center;
    font-size: 2em;
}

Header h1 {
    font-size: 4em;
    padding-top: 50px;
}

header .nav {
    font-size: 2.35em;
}

.nav a {
    color: black;
    text-decoration: none;
    background-color: var(--cor0);
    padding: 7px;
    border-radius: 13px;
}

.nav a:hover {
    text-decoration: underline;
    background-color: var(--cor5);
    color: white;
}

main h1, h2, p {
    padding:15px;
}

main {
    background-color: #D7B377;
    text-align: left;
    font-size: 1.2em;
}

p {
    text-align: left;
}

.main {
    background-color: #faf8d49e;
    width: 900px;
    margin: auto;
}

main h2 {
    font-size: 1.7em;
}

.l2 {
    background-color: var(--cor1); /* verde claro */
    padding: 0; /* sem padding pra não criar espaço nas bordas */
    border-radius: 10px 10px 0px 0px;
    
}

.l2 h3 {
    background-color: var(--cor2); /* verde escuro */
    display: block; /* ocupa toda a largura */
    padding: 10px 15px;
    border-radius: 10px 10px 0 0; /* cantos superiores arredondados */
    margin: 0; /* sem margem para não quebrar o fundo */
    font-size: 2em;
}

.l2 ul {
    list-style: none;
    margin: 0;
    padding: 15px; /* espaço interno da lista */
    
}

.l2 li {
    margin: 5px 0;
    
}

li {
    font-size: 1.5em;
}

.voltar1, .outras-paginas {
    text-decoration: none;
}

.outras-paginas {
    font-size: 1.15em;
}

.voltar1:hover, .outras-paginas:hover {
    text-decoration: underline;
}

.conclusao {
    margin-bottom: 0px;
    padding: 20px 10px 35px 10px;
}

footer {
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor5));
    font-size: 0.9em;
    margin: 0px;
    padding: 0px;
}

footer p {
    text-align: center;
    padding: 15px;
    font-size: 1.4em;
    color: rgb(0, 0, 0);
    margin-bottom: 0px;
}

.nome-footer {
    text-decoration: underline;
}


/* Configurações para todas as páginas */

